@font-face {
    font-family: neuton;
    src: url(../fonts/Neuton/Neuton-light.ttf);
}
@font-face {
    font-family: neuton;
    src: url(../fonts/Neuton/Neuton-Bold.ttf);
    font-weight:bold;
}
/*LANDING PAGE*/
.main-title{
    text-align:center;
    font-family: neuton;
    font-size:100px;
    line-height: 85px;
    color:black;
    margin-top:10px;
    text-shadow: 2px 2px gray;
    font-variant: small-caps;
}
img{
    width:100%;
}
p{
    font-size:20px;
    line-height:22px;
}

.gif{
    width:150px;
}
.container-fluid{
    font-family: neuton;
    font-weight:300;
}
/*PROJECTS PAGE*/
/*row styling*/
.row{
    border-left:2px solid black;
    border-right:2px solid black;
}
.project-section{
    padding-bottom:100px;
}
/*title section*/
.section-title{
    text-align: center;
}
.title-section{
    text-align: center;
    padding-top:25px;
}
.section-title > h1{
    margin:0;
    padding-bottom:20px;
    font-family: neuton;
    font-size:48px;
    color:black;
    width:100%;
}
/*about section*/
#about{
    margin-top:50px;
}
#about > p {
    font-size:24px;
    text-align:left;
}
#about a{
    font-weight:bold !important;
    color:black;
    text-decoration: underline;
}
.emphasis{
    font-weight:bold;
    font-variant: small-caps;
}
/*portfolio items*/
.item{
    padding:10px;
    font-weight:bold;
    font-size:28px;
}
.item:hover{
    cursor:pointer;
    z-index:10;
    background:rgba(0,0,0,0.1);
    text-decoration:none;
    color:black;
}
.item-title{
    color:black;
    font-variant: small-caps;
    margin-bottom:0px;
}
.item-desc{
    font-weight:normal;
    text-decoration: none;
    color:black;
}
.item-container:hover{
    text-decoration: none !important;
}
/*CV*/
#cv-iframe{
    width:100%;
    height:500px;
}
/*NAVBAR*/
.nav-link{
    font-family: neuton;
    font-size:20px;
    color:white !important;
}
.nav-link:hover{
    text-decoration:underline;
}
.navbar{
    background:black;
    color:white;
    height:35px;
    text-align:center;
}
.navbar-list{
    margin:auto;
}
.navbar-nav{
    flex-direction: row;
}
#g{
    font-weight:bold;
    color:darkgray !important;
    text-shadow:1px 1px lightgray;
}
#g:hover{
    text-decoration: none;
}
/*MAP PAGES*/
.map-title, .section{
    font-family: neuton;
}
.map-title{
    font-weight:bold;
}
.fa{
    font-size:50px;
}
.social{
    font-size:50px;
    margin-right:15px;
}
.foot{
    font-family: neuton;
    width:100%;
    padding-bottom:10px;
    color:black;
}
.fixed-bottom{
    background:none !important;
}
.cv-section, .map-section{
    border-bottom:2px solid black;
}
/*map pages*/
.map-desc{
    font-size:20px;
    line-height:22px;
}
.map-img{
    padding:10px;
}
@media only screen and (min-width: 768px) {
    .info {
      margin-left:15px;
    }
    .project-container{
        padding-left:5%;
        padding-right:5%;
    }
  }
@media only screen and (max-width: 768px) {
    .navbar{
        background:black;
        color:white;
        height:50px;
        text-align:center;
    }
    .nav-link{
        padding:0;
    }
    .nav-item{
        margin:auto;
    }
    #g-container{
        display:none
    }
    .row{
        border-left:2px solid black;
        margin-left:10px;
        margin-right:10px;
    }
    .tool-description{
        margin-bottom:0;
    }
    .tool-link{
        padding:0;
    }
  }

